[user]
    name  = Mitsushige Komiya
    email = mkomiya.s@gmail.com
[include]
    path = .gitconfig.local

[github]
    user = MKomiya

[color]
    diff        = auto
    grep        = auto
    branch      = auto
    status      = auto
    interactive = auto

[core]
    editor       = /usr/bin/vim
    autocrlf     = input
    quotepath    = false
    excludesfile = ~/.gitexcludes # 自分の環境でのみ除外したいファイルを書く
[alias]
	st = status
	br = branch
	co = checkout

[ghq]
    root = ~/src
