[user]
    name  = Mitsushige Komiya
    email = s.wyvern.acespring@gmail.com
[include]
    path = .gitconfig.local

[github]
    user = MKomiya

[color]
    diff        = auto
    grep        = auto
    branch      = auto
    status      = auto
    interactive = auto

[core]
    editor       = /usr/local/bin/vim
	autoCRLF = false
    quotepath    = false
    excludesfile = ~/.gitexcludes # 自分の環境でのみ除外したいファイルを書く
[alias]
	st = status
	br = branch
	co = checkout
	ci = commit

[ghq]
    root = ~/src
